<!DOCTYPE html>
<html lang="en">
    <head>


      <title>Shahira Qudrat</title>

    </head>


        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Shahira
                        <span class="text-primary">Qudrat</span>
                    </h1>
                    <div class="subheading mb-5">
                        A Mother of 5 lovely children · Author · Entrepreneur ·
                        <a href="mailto:shahiraqudrat@yahoo.com">shahiraqudrat@yahoo.com</a>
                    </div>
                    <p class="lead mb-5">In this moment I would like to share with you the pleasure I have of being called the daughter of one of the strongest women on this earth. I know everyone says that about their mother, and it's true for every daughter, but let me tell you a little bit about why my mother, Nooria, deserves the "World's Strongest" title.
My mother, now in her 60’s, came to the United States of America as a refugee around the age of 25. After she had married my father, they both decided to leave their beloved country in order to save their small family from the eminent war Afghanistan was facing with Russia. I was a year and a half at the time, but had already traversed three different countries with my parents to escape the war. This form of travel was by no means a glorious experience for escaping refugees. You may laugh if I tell you that my mother and father had to ride on the back of a mule to get through the mountains of Afghanistan to Pakistan, but it’s the truth. You may not believe that I almost died of measles on a bus ride through Pakistan, but that is also true.
It hadn’t always been like that in Afghanistan. My mother had seen better days. Like me, my mom was also the oldest child of her family. My grandmother, a strong role model for my mother, had taught her many of the Afghan traditions, such as the meaning and value of family, hospitality, and true kinship. My mom was the kind of teenager that constantly had her head in the books. My grandmother and grandfather would constantly yell at her for "hiding behind books" when she should have been doing household chores or helping take care of her siblings. She had grown up playing outdoors, and unlike myself, had no fear of insects or amphibians as they were her companions in the nearby woods.
Shortly after graduating from college, my mother became a high school teacher. The way she describes her job, you can tell she loved it. She and her friends wore the coolest 70's outfits, and she was paid well for her job. I wouldn’t have believed this was true either, except for the proof of an album full of pictures of her and her friends smiling and laughing. Now you tell me, if you had a good life with a promising future, would you want to leave it behind? To me, she was EVERYTHING great about Afghanistan, and these were the types of stories I was fortunate enough to hear growing up. Throughout her life, her experiences were shaping her to become the optimistic, educated, and well-rounded human being she is today.
Unfortunately, in recent years the media headlines regarding Afghanistan better fit those of a horror novel or nightmare.
"The Taliban ban girls from going to school."
This is not the Afghanistan I came to know about or the one my mother instilled in my heart.
My family came to the United States and had to essentially start all over again. Both my parents had to learn a new language and redefine themselves within a completely new culture. Despite the challenges, my mother never lost her passion to live life to the fullest and to give back. Her love for education and her vision for a better future for our family still run through her veins like they did the first day she stepped foot in this country.
Within the Colorado Afghan Community she helped start the local Sunday School/Mosque. Many of her students ended up her taking her advice of giving back to the community by becoming teachers themselves for the younger generation. At one time in her life she was running the Sunday School, owned her own gas station, worked a full-time job as a medical bill processor, took care of my sick father, and made sure we all went to school to become educated. I omit the fact that she also cooked and cleaned in her "spare" time, but those are the day to day details that no one thinks to talk about in regards to leadership. As I write this today, my mother works the equivalent of two full-time jobs, is in the process of renovating her home for a daycare business, and even finds time to help my sister and me by caring for her grandchildren. She does all of this selflessly, and asks only that her children be happy and productive members of this society.
  You may be asking how she did all of this. The answer is simple yet complex. Just like each one of us, she is a leader in her own right. My mom takes control of her destiny in her day to day choices and forges through life as her individually unique and beautiful self. Like all of us, she makes mistakes, course corrects, and learns how to do it better the next time around. Although she may minimize her profound influence on me, I look to her for strength and guidance. To me she is the ultimate example of a true leader. After all, she was the one to provide my family the vision for a positive and better future. Isn’t that the truest foundation of leadership? It takes a woman like my mother to be brave and to allow the events around her, whether good or bad, to inspire her.
Her words, which have become a motto of sorts in my life, roughly translate from my native tongue of Farsi to mean, "Whether you do it or not, the time will pass, so just do it." While not very poetic, her words reflect her straight-shooter personality and remind me of a Rumi poem that reads:
 Though your heart grows weary
And you tire of life-
O time waster</p>
                    <div class="social-icons">
                        <!-- <a class="social-icon" href="#!"><i class**="fab fa-linkedin-in"></i></a> -->
                        <!-- <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a> -->
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Authenticity in America</h2>
                    <span class="d-none d-lg-block"><img class="rounded mx-auto d-block" src="startbootstrap-resume-gh-pages/assets/img/moms_book.jpeg" alt="..." /></span>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                          <div class="subheading mb-3">Purchase Book Here -  </div> <p>https://www.amazon.com/Authenticity-America-Memoir-Rebellion-Identities/dp/164307234X</p>
                            <h3 class="mb-0">About The Book</h3>
                            <p>- Raised amidst two cultures, Afghan-American and proud Muslim woman Shahira N. Qudrat found herself at odds with her own identity. Nestled between two flags, Shahira struggled to find a balance between her strong Afghan community and the new American way of life. She relives her family upheavals, failed relationships, and spiritual searchings to trace how she came to find her own genius in the space she calls the authenticity zone. In this searing collection of memories, Shahira confronts the intersection of difficult subjects such as immigration, feminism, religion, discrimination, harassment, and living as a Muslim woman in America post 9/11 through powerful and poignant stories of seeking and living her authentic self in everyday moments.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Published March 2019</span></div>
                    </div>


                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Denver</h3>
                            <div class="subheading mb-3">Master of Arts (MA)</div>
                            <div>Global Community Engagement</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2019 - 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Phoenix</h3>
                            <div class="subheading mb-3">Master of Business Administration (MBA)</div>
                            <div>Small Business Administration/Management</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2012 - 2013</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University of Phoenix</h3>
                            <div class="subheading mb-3">Bachelor of Business Administration (B.B.A)</div>
                            <div>Business Administration and Management General</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2007 - 2011</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Hyphen Box</h2>
                    <span class="d-none d-lg-block"><img class="img-responsive" src="startbootstrap-resume-gh-pages/assets/img/hyphen_box.png" alt="..." /></span>
                    <div class="subheading mb-3">Shop Here! -  </div> <p>https://hyphenbox.com/</p>
                    <div class="subheading mb-3">About the business</div>
                    <p>Shahira has over 20 years of experience in the business world and works as a strategic consultant. She has worked in corporate, nonprofit, and higher education. She has also spoken on the TedX stage as well as authored a memoir. Her daughter Deena and she opened a business called Hyphenbox to focus on culture specific gift giving. They are currently living in california and intend to travel the world.</p>
                </div>
            </section>
            <hr class="m-0" />
            <hr class="m-0" />
        </div>
